root{
    --color-212529: #212529
    -color-ffd333: #ffd333
}

.quill{
    background-color: white;
}

.ant-avatar-circle{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
