/*Main Product Page*/

.description-wrapper h4,
.reviews-wrapper h3{
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.description-wrapper p{
  font-size: 14px;
  color: #777777;
}



.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head h4 {
  font-size: 18px;
  color: #1c1c1b;
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: #777777;
}

.review-head {
  border-bottom: 1px solid rgba(0 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-form h5{
  font-size: 14px;
  color: #777777;;
}


label{
  font-size: 12px;
  color: #777777;
}

.review-form{
  border-bottom: 1px solid rgba(0 0, 0, 0.1);
}

.review:not(:last-child){
  border-bottom: 1px solid rgba(0 0, 0, 0.1);
}

.review p{
  font-size: 14px;
  color: #777777;
}

.main-product-image{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image>div{
  border: 1px solid rgba(0 0, 0, 0.25);
}

.main-product-image img{
  width: 100% !important;
  object-fit: cover;
}


.home-wrapper-2 {
    background-color: var(--color-f5f5f7);
  }

.main-product-details{

  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.border-bottom{
  border-bottom: 1px solid rgba(0 0, 0, 0.25);
}

.main-product-details h3.title{
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.main-product-details p.price{
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.product-heading{
  font-size: 14px;
  color: #1c1c1b;
  margin-bottom: 0px;
}
.main-product-details a{
  font-size: 14px;
}
.main-product-details .product-data{
  font-size: 14px;
  color: #777777;
  margin-bottom: 0;
}

.addcart, .buynow{
  background-color: #232f3e;
  color: white;
  border: none;
  border-radius: 10px;
  
}

.addcart:hover{
  background-color: #ddbc28;
  color: black;
}

.buynow:hover{
  background-color: #ddbc28;
  color: black;
}

/*Main Product Page Ends*/